@import url('https://fonts.googleapis.com/css?family=Comfortaa:wght@300');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

}

.logo-title{
  font-family: 'Fredoka One', cursive;
}

.home-section{
  min-height: 450px;
  background: url("./img/beach1.jpeg") center/cover no-repeat;
}

.card-section{
  opacity: .8;
}

.featured-section:hover{
  transform: scale(1.1);
  transition: 1.4s ease-in-out;
}

.rooms-section{
  min-height: 300px;
  background: url('./img/room-7.jpeg') center/cover no-repeat ;
}

.error-section{
  min-height: 100vh;
  background: url('./img/defaultBcg.jpeg') center/cover no-repeat;
}

.eachroom-section{
  min-height: 250px;
  background: url('./img/beach3.jpeg') center/cover no-repeat;
}

.about-section{
  background : url('./img/beach2.jpeg') center/cover no-repeat;
  min-height : 300px;
}